@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.footbar {
    background-color: #54771c;
    
    color: white;
    min-height: 20vh;
    vertical-align: center;
    
}
.textos{
    text-align: start;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 0.5vh;
}

.titulos{
    text-align: start;
    font-size: 22px;
    line-height: 2vh;
    font-family: 'Poppins', sans-serif;
}

.copyright{
    background-color: #4a7407;
    text-align: center;
    color: white;
}

.logos{
    background-color: white;
    height: 48px;
    margin-right: 3vh;
}